<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="jabuFoursquareSearchPlaces" type="Jabu.Foursquare.SearchPlaces.Client.Configs.SectionConfig, Jabu.Foursquare.SearchPlaces.Client" />
    </configSections>

    <jabuFoursquareSearchPlaces application="Search Places Client"
                                    clientId="QEFLOOGZEJTMXPDYP3SK1XCP00HCVCAOYXVABHFE1YW1M5XL"
                                    clientSecret="BSEVYTYOIP5UMAOZLCKR4W2XNJUWORYBDALW2HZIJUWCAUR0"
                                    clientVersion="20150901">

        <searchVenuesService url="https://api.foursquare.com/v2/venues/search?client_id={0}&amp;client_secret={1}&amp;v={2}" />
    </jabuFoursquareSearchPlaces>
</configuration>